@font-face {
    font-family: 'Superstar M54';
    src:url(fonts/Superstar\ M54.ttf) format(truetype)
}

.navbar {
    background-color: black;
    color: #FFF2FF;
    transition: background-color 1s ease 0s;

}

.navbar.solid {
    background-color: #333;
    transition: background-color 1s ease 0s;
}

.heading {
    height: 500px;
    padding-top: 200px;
    margin: 20px;
    text-align: center;
}

.heading h1 {
    font-family: 'Superstar M54', sans-serif;
    font-size: 140px;
}

.heading h3 {
    font-family: 'Quicksand', sans-serif ;
    font-weight: 900;
}

.heading h4 {
    font-family: 'Quicksand', sans-serif ;
}

.adresses {
    background-color: #333a401c;
    height: 200px; 
    padding: 50px;
    justify-content: center;
}

.adresses h5 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.map {
    height: 100%;
    width: 100%;
}

.container-fluid {
    padding: 0px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

