@font-face {
    font-family: 'Superstar M54';
    src:url(fonts/Superstar\ M54.ttf) format(truetype)
}

.navbar {
    background-color: black;
    color: #FFF2FF;
    transition: background-color 1s ease 0s;

}

.navbar.solid {
    background-color: #333;
    transition: background-color 1s ease 0s;
}

.heading {
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 20px;
    text-align: center;
}

.heading h1 {
    font-family: 'Superstar M54', sans-serif;
    font-size: 140px;
}

.heading h3 {
    font-family: 'Quicksand', sans-serif ;
    font-weight: 900;
}

.heading h4 {
    font-family: 'Quicksand', sans-serif ;
}

.adresses {
    background-color: #333a401c;
    height: 200px; 
    padding: 50px;
    justify-content: center;
}

.adresses h5 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.map {
    height: 100%;
    width: 100%;
}

.container-fluid {
    padding: 0px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.newsletter {
    height: 100%;
    margin: 40px;
}

.newsletter h5 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.newsletter form {
    margin-top: 40px;

}

.newsletter__btn, .reserver__btn {
    background-color: #34b2e2;
    margin-top: 20px;
    border: none;
}

.newsletter__social {
    background-color: #333a401c;
    height: 200px;
    padding: 30px;
    font-size: 200px;
    color: #34b2e2;
    ;
}

.reserver__btn {
    margin-bottom: 40px;
}

a {
    color:#34b2e2;
}

a:hover {
    color: #a5d0ff;
}

.suivez__nous {
    background-color: #34b2e2;
}

