@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400&display=swap');

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


@font-face {
    font-family: 'Neon Absolute Sans';
    src:url(fonts/NEON\ ABSOLUTE\ SANS1.ttf);
}
@font-face {
    font-family: 'Riverswell';
    src:url(fonts/Riverswell.otf);
}
@font-face {
    font-family: 'Superstar M54';
    src:url(fonts/Superstar\ M54.ttf);
}



.navbar {
    background-color: black;
    color: #FFF2FF;
    transition: background-color 1s ease 0s;

}

.navbar.solid {
    background-color: #333;
    transition: background-color 1s ease 0s;
}

body {
    margin: 0;
    background: #000; 
  }

.video { 
    min-width: 100%;
    min-height: calc(100vh - 55px);
    width: 100px;
    transition: 1s opacity;
    margin-top: 100px;
  }

  .carousel-caption h5 {
      font-family: 'Quicksand', sans-serif;
      font-size: 25px;
      color: #FFF2FF;
      text-shadow: 0 0 5px #333;
      background-color: #2489b1a2;
      border: none;
      border-radius: 3px;
  }


  .form__btn, .synop__btn {
    background-color: #248ab1;
    border: none;
    font-family: 'Quicksand', sans-serif;
    margin: 10px;
}

a {
    display: inline-block;
    color:#248ab1;    
}

a:hover{
  color:#a5d0ff;
}