@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400&display=swap');

@font-face {
    font-family: 'Neon Absolute Sans';
    src:url(fonts/NEON\ ABSOLUTE\ SANS1.ttf);
}
@font-face {
    font-family: 'Riverswell';
    src:url(fonts/Riverswell.otf);
}
@font-face {
    font-family: 'Superstar M54';
    src:url(fonts/Superstar\ M54.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


.navbar {
    background-color: transparent;
    color: #FFF2FF;
    transition: background-color 1s ease 0s;

}

.navbar.solid {
    background-color: #333;
    transition: background-color 1s ease 0s;
}

.heading {
    background-color: #333a40;
    position:relative;
    height: 400px;
}

.heading__banniere {
    background: url(images/form.svg) no-repeat top;
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    color: black;
    font-family: 'Poppins', sans-serif;
}

.slogan {
    color: #34b2e2;
}

.form {
    margin: 60px;
}

.day {
    color: #34b2e2;
}

.seance {
    padding-right: 0px;
    padding-left: 40px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

.seance p {
    font-family: 'Poppins', sans-serif;
}

.reservez {
    background-color: #34b2e2;
    text-align: center;
    border: none;
}

a {
    color:#34b2e2;
}

a:hover {
    color: #a5d0ff;
}

.suivez__nous {
    background-color: #34b2e2;
}

.rgpd {
    font-size: 12px;
    font-style: italic;
    font-family: 'Quicksand', sans-serif;
}


