.navbar {
    background-color: transparent;
    color: #FFF2FF;
    transition: background-color 1s ease 0s;

}

.navbar.solid {
    background-color: #333;
    transition: background-color 1s ease 0s;
}

.heading {
    background-color: #333a40;
    position:relative;
    height: 400px;
}

.heading__banniere {
    background: url(images/form.svg) no-repeat top;
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    color: black;
}

.slogan {
    color: #34b2e2;
}

.form {
    margin: 60px;
}

.day {
    color: #34b2e2;
}

.seance {
    padding-right: 0px;
    padding-left: 40px;
    margin: 0px;
}

.reservez {
    background-color: #34b2e2;
    text-align: center;
    border: none;
}

a {
    color:#34b2e2;
}

a:hover {
    color: #a5d0ff;
}

.suivez__nous {
    background-color: #34b2e2;
}


