@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400&display=swap');

@font-face {
    font-family: 'Neon Absolute Sans';
    src:url(fonts/NEON\ ABSOLUTE\ SANS1.ttf);
}
@font-face {
    font-family: 'Riverswell';
    src:url(fonts/Riverswell.otf);
}
@font-face {
    font-family: 'Superstar M54';
    src:url(fonts/Superstar\ M54.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


.navbar {
    background-color: black;
    color: #FFF2FF;
    transition: background-color 1s ease 0s;

}

.navbar.solid {
    background-color: #333;
    transition: background-color 1s ease 0s;
}

.heading {
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 20px;
    text-align: center;
}

.heading h1 {
    font-family: 'Superstar M54', sans-serif;
    font-size: 100px;
}

.heading h3 {
    font-family: 'Quicksand', sans-serif ;
    font-weight: 900;
}

.heading h4 {
    font-family: 'Quicksand', sans-serif ;
}

.reserver {
    margin-top: 40px;
}

.reserver__btn {
    background-color: #34b2e2;
    border: none;
}

.tableau {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}


a {
    color:#34b2e2;
}

a:hover {
    color: #a5d0ff;
}

.suivez__nous {
    background-color: #34b2e2;
}
