@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400&display=swap');

.navbar {
    background-color: transparent;
    color: #FFF2FF;
    transition: background-color 1s ease 0s;

}

.navbar.solid {
    background-color: #333;
    transition: background-color 1s ease 0s;
}

.btn {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    color:white;
}

video {
    object-fit: cover;
    width: 100vw;
    height: calc(100vh + 200px);
    opacity: 1;
    margin-top: -100px;
    margin-bottom: -100px;
    position: fixed;
    z-index: -1;
  }

.banniere {
    height: 100vh;
}

.banniere, .about {
    position: relative;
    overflow: hidden;
}

.banniere__overlay {
    background: url(images/titrehome.svg) center center no-repeat;
    position: absolute;
    top: -10px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    opacity: 0.7;

}


.banniere__info {
    position: absolute;
    top: 65%;
    text-align: center;
    width: 100%;
    color: white;
}

.neon {
    position: relative;
    display: inline-block; 
    transform: translate (-50%, -50%);
    margin:0;
    padding: 0 20px;
    font-size: 6em;
    color: #fff;
    text-shadow: 0 0 20px #00e2ff;
    font-family: 'Quicksand', sans-serif;
}

.neon:after {
    content: attr(data-text);
    position: absolute; 
    top: 0;
    left: 0;
    padding: 0 20px; 
    z-index: -1;
    color: #00e2ff;
    filter: blur(15px);
}

.neon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background: #00e2ff;
    opacity: 0.5;
    filter: blur(40px);
}

.about {
    margin: 0;
    padding: 0; 
    background-color: rgba(0, 0, 0, 0.865);
    background-size: cover;
    font-family: 'Quicksand' , sans-serif;
}

.about__heading, .films__heading, .actualites__heading {
    padding: 40px;
    text-align: center;
}

.about__info {
    position: relative;
    top: 30%;
    text-align: justify;
    width: 100%;
    color: rgba(255, 255, 255, 0.598);
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    font-family:'Quicksand', sans-serif;
    font-size: 26px;   
}

.about__btn, .films__btn, .actualites__btn{
    background-color: #248ab1;
}

.map-container {
    height: 340px;
}

.about iframe {
    width: 100%;
    height: 100%;
    margin-left:40px;
}

.grid__films {
    background-color: #1a1d21;
}

.grid__films img {
    width: 100%;
    height: 28.125vw;
}

.films__main {
    margin: 0;
}

.play__overlay {
    position: absolute;
    top:0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.play:hover .play__overlay {
    opacity: 1;
}

.play__title {
    opacity: 1;
    transition: opacity 0.5s;
    position: absolute;
    top:0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    color: white;
    text-shadow: 0 0 4px black;
}

.play:hover .play__title{
    opacity: 0;
}

.films__main .col-6 {
    padding: 0;
    position: relative;
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position:relative;
    padding:0px;
}

.close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
}

.films__btn {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 22px;
}

.actualites {
    background-color: #4c4c4c;
}

.actualites__card {
    margin: 0;
}



footer {


}

